.cell{
  line-height: 25px;
  height: 25px;
  width: 80px;
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: #C0C0C0;
  display: inline-block;
  overflow: hidden;
  padding-left: 2px;
  background-color: white;
}

.cell.focus{
  box-shadow: inset 0px 0px 0px 1px dodgerblue;
}

.cell.focus.editable{
  box-shadow: inset 0px 0px 0px 1.5px dodgerblue;
  /*background-color: lightgoldenrodyellow;*/
}
